.cartBtn {
	border: none;
	width: 3.5rem;
	height: 100%;
	cursor: pointer;
	background-color: #2d4c4a;
	transition: 0.3s all;
	position: relative;
	align-items: center;
	justify-content: center;
}

.cartBtn img {
	width: 60%;
	filter: invert(87%) sepia(4%) saturate(572%) hue-rotate(344deg) brightness(113%) contrast(92%);
}

.cartCount {
	display: flex;
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
	background-color: var(--beige);
	position: absolute;
	bottom: 20%;
	left: 10%;
	transform: translate(-50%, 50%);
	color: var(--grey);
	text-align: center;
	align-items: center;
	justify-content: center;
}