@font-face {
	font-family: WorkSans;
	src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

:root {
	--Lavender: #F9F0FF;
	--DarkPurple: #2F1533;
	--MidPurple: #8C6991;
	--White: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: WorkSans;
}

body {
	max-width: 100%;
	background-color: var(--Lavender);
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

.card {
	background-color: var(--White);
	max-width: 60%;
	border-radius: 10px;
	padding: 1.5rem;
	margin: auto;
	margin-bottom: 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

.button:hover {
	background-color: var(--Lavender);
	border-radius: 10px;
}

.header img {
	margin-right: 1rem;
}

.accordian-item {
	padding: 0 0;
}

.accordian-header {
	color: var(--DarkPurple);
	font-size: 1rem;
	width: 100%;
	text-align: left;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	font-size: large;
	padding: 1rem 1rem;
	margin: 0;
	cursor: pointer;
}

.minus {
	display: None;
}

.accordian-content {
	font-size: 1rem;
	color: var(--MidPurple);
	max-height: 0;
	overflow: hidden;
	transition: max-height 200ms ease;
	margin:0;
}

.inner {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

footer {
	color: var(--MidPurple);
	text-align: center;
}
